[rhel-source]
name=Red Hat Enterprise Linux 7.3                                                                                                                                                                                 
baseurl=http://{{yum_server_ip}}/redhat/rhel7.3/        
enabled=1
gpgcheck=0