# These servers were defined in the installation:
{% for s in chrony_server_list %}
server {{ s }} iburst
{% endfor %}
# Use public servers from the pool.ntp.org project.
# Please consider joining the pool (http://www.pool.ntp.org/join.html).

# Record the rate at which the system clock gains/losses time.
driftfile /var/lib/chrony/drift

# In first three updates step the system clock instead of slew
# if the adjustment is larger than 1 second.
makestep 1.0 3

# Enable kernel synchronization of the real-time clock (RTC).
rtcsync

# Allow NTP client access from local network.
{% if allow_hosts is defined %}
{% for h in allow_hosts %}
allow {{ h }}
{% endfor %}
{% endif %}

# Serve time even if not synchronized to any NTP server.
#local stratum 10

# Specify file containing keys for NTP authentication.
#keyfile /etc/chrony.keys

# Specify directory for log files.
logdir {{ log_dir }}

# Select which information is logged.
#log measurements statistics tracking
